@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
document,
#__next {
  @apply h-max;
}

.link {
  @apply cursor-pointer text-blue-600 hover:text-blue-500 hover:underline dark:text-blue-300 hover:dark:text-blue-200;
}

.link-primary {
  @apply cursor-pointer text-blue-600 hover:text-blue-500;
}

.link-secondary {
  @apply cursor-pointer hover:underline;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row .editable-cell-value-wrap {
  @apply border border-solid border-gray-600 border-opacity-0 dark:border-opacity-0;
  padding: 4px 11px;
  border-radius: 2px;
}

.editable-row:hover .editable-cell-value-wrap {
  @apply border border-solid border-gray-300 dark:border-gray-500;
  padding: 4px 11px;
  border-radius: 2px;
}

input,
textarea {
  @apply border bg-white p-2 dark:bg-gray-500;
}

.markdown h1 {
  @apply text-4xl font-bold;
}

.markdown h2 {
  @apply text-3xl font-bold;
}

.markdown h3 {
  @apply text-2xl font-bold;
}

.markdown h4 {
  @apply text-xl font-bold;
}

.markdown h5 {
  @apply text-lg font-bold;
}

.markdown ul {
  list-style: square;
}

.markdown li {
  margin-left: 16px;
}

.markdown a {
  @apply link;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
